/*
 *
 * 
 *
 *
 */		

.clear {
	
	content: "";
	display: block;
	clear: both;
	
}

.red {
	
	background: #E7363B !important;
	
}

section.main {
	
	position: relative;
	margin: 0;
	height: 95%;
	overflow: hidden;
	
}