#flyout {
		
	z-index: 1000000;
	position: fixed;
	
	background: white;
	
	width: 100%;
	
	top:0;
	right: -100%;
	bottom: 0;
			
	overflow-x: scroll;
	
	article {
		
		h2 {
			
			margin-top: 20px;
			
		}
		
		padding: 0 10px;
		font-size: 16px;
		line-height: 1.5em;
		
	}
		
}