$colour_background: #262321;

#NAV {
	
	border-right: 1px solid $colour_background;
	color: black;
	
	background: #3F4346;
	
	z-index: 100000;
	position: fixed;
	
	width: 25%;
	top:0;
	left: -25%;
	bottom: 0;
	
	//background: #E0E1E1;
			
	.navigation_list {
		
		height: 100%;
		background: $colour_background;
		
	}
	
	.nav_filler_img {
		
		height: 20%;
		width: 100%;
		
		background: url(../img/game_logo.png) no-repeat center center $colour_background;
		background-size: contain;
		
	}
	
	.navigation_list:after {
		
		content: "";
		display: block;
		clear: both;
		
	}
	
	h1 {
		
		height: 65px;
		line-height: 65px;
		text-align: center;
		
	}
	
	h2 {
		
		padding-left: 5px;
		
	}
	
	div.button {
		
		position: relative;
		width: 100%;
		height: 20%;
		text-align: center;
		
		cursor: hand !important;

		display: block;
		text-decoration: none;
		font-weight: bold;
		
		.item_img {
			
			width: 50%;
			height: 20%;
			
			position: absolute;
			left: 25%;
			top: 20%;
			
			fill: white;
			
		}
		
		p {
			
			position: absolute;
			top: 75%;
			text-align: center;
			color: rgba(0,0,0,0.5);
			width: 100%;
			
		}
		
	}
	
	.RETURN {
		
		display: none;
		position: fixed;
		background: red;
		opacity: 0.5;
		left: 25%;
		top:0;
		bottom:0;
		width: 100%;

	}

}

/*
 * Page Headers
 *
 */
 
 .header {

			position: relative;
			background: #E0E1E1;
			border-bottom: 1px solid #B7B7B7;
			height: 65px;
			font-weight: 100;
			padding-top: 35px;
			text-align: center;
			padding-bottom: 5px;
			
			h1 {
				
				font-weight: 500;
				display: inline-block;
				
			}
			
			a {
				
				position: absolute;
				line-height: 60px;
				top:10px;
				
				font-size: 18px;
				
				color: white;
				font-weight: 100;
				width: 60px;
				height: 60px;

			}
			
			a:nth-child(1){
				
				top:20px;
				left: -10px;
			
			}
			
			a:nth-child(3){
				
				top:20px;
				right: 0px;
			
			}
			
		}
