.lore {
	
	ul {
	
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
	
		li {
		
		width: 100%;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.3);
		background: gray;
		overflow: hidden;
		
			h3 {
				
				padding: 50px;
				text-align: center;
				margin: 0;
				
			}
	
		}
	
	}
	
}