section#player {
	
	position: relative;
	
	.tab {
		
		border: 1px solid red;
		height: 50%;
		width: 50%;
		float: left;
		
	}
	
	.badge {
		
		width: 300px;
		background: #ccc;
		height: 300px;
		border-radius: 150px;
		
		position: absolute;
		top:50%;
		left: 50%;
		
		margin-top: -150px;
		margin-left: -150px;
		
		
	}
	
	.vampire {
		
		h1 {
			
			text-align: right;
			
		}
		
	}
	.wearwolf {}
	.zombie {}
	.ghost {}
	
}