.page_container {
  overflow-y: hidden;
  height: 100%;
  width: 100%; }
  .page_container h1 {
    margin: 0; }
  .page_container .page {
    overflow-y: hidden; }
    .page_container .page a.button {
      display: block;
      max-width: 100%;
      background: #359CEC;
      color: white;
      padding: 10px;
      margin-bottom: 10px;
      text-decoration: none;
      margin: 10px 0; }
    .page_container .page video {
      background: black;
      height: 100%;
      width: 100%; }
    .page_container .page article.main {
      height: 100%;
      padding: 10px;
      color: #444;
      overflow-x: hidden;
      overflow-y: scroll; }
    .page_container .page .nav_icon {
      margin-top: 20px; }

/*
 *
 * 
 *
 *
 */
.clear, section#news .news_container:after {
  content: "";
  display: block;
  clear: both; }

.red {
  background: #E7363B !important; }

section.main {
  position: relative;
  margin: 0;
  height: 95%;
  overflow: hidden; }

.loader,
.loader:before,
.loader:after {
  background: #CCC;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em; }

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: ''; }

.loader:before {
  left: -1.5em; }

.loader {
  text-indent: -9999em;
  margin: 8em auto;
  position: relative;
  font-size: 11px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:after {
  left: 1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em; }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em; } }
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em; }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em; } }
/*
 * Framework Core SCSS Partial
 * 
 *
 *
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  /* Disable selection/copy in UIWebView */
  -webkit-touch-callout: none; }

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: white; }

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: sans-serif; }

section.page {
  color: #333;
  overflow-y: hidden;
  height: 100%;
  width: 100%; }

#super_view,
.navigation_list {
  -webkit-transition: border 0.3s linear; }

#NAV {
  color: black;
  background: #262321;
  z-index: 100000;
  position: fixed;
  width: 25%;
  top: 0;
  left: -25%;
  bottom: 0; }
  #NAV .navigation_list {
    padding-top: 64px;
    height: 100%;
    background: #262321; }
  #NAV .nav_filler_img {
    height: 20%;
    width: 100%;
    background: url(../img/game_logo.png) no-repeat center center #262321;
    background-size: contain; }
  #NAV .navigation_list:after {
    content: "";
    display: block;
    clear: both; }
  #NAV h1 {
    height: 65px;
    line-height: 65px;
    text-align: center; }
  #NAV h2 {
    padding-left: 5px; }
  #NAV div.button {
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
    cursor: hand !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid black;
    display: block;
    text-decoration: none;
    font-weight: bold; }
    #NAV div.button .item_img {
      position: absolute;
      top: 28.5%;
      left: 35%;
      height: 25%;
      width: 25%; }
    #NAV div.button p {
      display: none; }
  #NAV .RETURN {
    display: none;
    position: fixed;
    left: 25%;
    top: 0;
    bottom: 0;
    width: 100%; }

/*
 * Page Headers
 *
 */
.header {
  position: relative;
  background: #E0E1E1;
  border-bottom: 1px solid #B7B7B7;
  height: 65px;
  font-weight: 100;
  padding-top: 35px;
  text-align: center;
  padding-bottom: 5px; }
  .header h1 {
    font-weight: 500;
    display: inline-block; }
  .header a {
    position: absolute;
    line-height: 60px;
    top: 10px;
    font-size: 18px;
    color: white;
    font-weight: 100;
    width: 60px;
    height: 60px; }
  .header a:nth-child(1) {
    top: 20px;
    left: -10px; }
  .header a:nth-child(3) {
    top: 20px;
    right: 0px; }

#flyout {
  z-index: 1000000;
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
  right: -100%;
  bottom: 0;
  overflow-x: scroll; }
  #flyout article {
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.5em; }
    #flyout article h2 {
      margin-top: 20px; }

/*
 * _news.scss
 */
section#news {
  height: 100%;
  position: relative; }
  section#news .news_container {
    overflow-y: scroll;
    height: 100%;
    padding: 15px; }
    section#news .news_container img {
      width: 100%;
      height: auto; }
  section#news #news_loading_text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    display: block;
    color: white;
    font-size: 3em; }
  section#news ul.article_list {
    min-height: 100%;
    padding: 0;
    margin: 0;
    list-style: none; }
    section#news ul.article_list li h1,
    section#news ul.article_list li h2,
    section#news ul.article_list li h3,
    section#news ul.article_list li h4,
    section#news ul.article_list li h5,
    section#news ul.article_list li h6,
    section#news ul.article_list li p {
      margin: 0; }
    section#news ul.article_list li {
      padding-bottom: 10px;
      background: white;
      display: block;
      color: inherit;
      text-decoration: none; }
      section#news ul.article_list li h4 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 1.3em; }
      section#news ul.article_list li time {
        font-size: 0.8em;
        color: #666;
        margin-bottom: 10px; }
      section#news ul.article_list li p {
        line-height: 1.5em; }
    section#news ul.article_list li:after {
      content: "";
      display: block;
      width: 80%;
      border-bottom: 1px solid #3E3C3D;
      padding-top: 10px;
      margin-bottom: 10px; }
    section#news ul.article_list .more-link {
      display: none; }
  section#news #close_button {
    display: block;
    height: 65px;
    background: #3E3C3D;
    position: fixed;
    bottom: 0;
    width: 100%; }
  section#news #close_button:after {
    content: "CLOSE";
    display: block;
    line-height: 65px;
    width: 100%;
    text-align: center;
    color: white; }

section#profile {
  position: relative; }
  section#profile nav {
    background: rgba(0, 0, 0, 0.5); }

section#stats {
  background: rgba(0, 0, 0, 0.5); }
  section#stats .stats_list {
    margin: 0;
    padding: 0; }
    section#stats .stats_list h2 {
      color: white; }
    section#stats .stats_list li {
      display: block;
      width: 49%;
      list-style: none;
      background: rgba(255, 255, 255, 0.4);
      padding: 5px;
      float: right;
      margin-bottom: 5px;
      color: white; }
      section#stats .stats_list li h4 {
        font-size: 0.8em;
        margin: 0;
        text-transform: uppercase;
        font-weight: bold; }
      section#stats .stats_list li p.value {
        margin: 0;
        font-size: 2em;
        font-weight: 100; }
    section#stats .stats_list li:nth-child(odd) {
      float: left;
      margin-right: 1px; }

section#about .main img {
  width: 50%;
  margin: 0 25%; }

section#settings section.main {
  padding: 15px;
  color: white; }
