.message_area {
  background: white;
  color: #444;
  font-size: 1.3em;
  padding: 20px;
  text-align: center; }

.development_page {
  display: block; }

.page_container {
  overflow: hidden;
  background: url(../img/background.jpg), url(background.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .page_container h1 {
    margin: 0; }
  .page_container .page {
    overflow: hidden;
    float: left;
    height: 100%;
    width: 100%; }
    .page_container .page nav {
      position: relative;
      background: rgba(0, 0, 0, 0.5);
      height: 65px;
      font-weight: 100;
      padding-top: 30px;
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 5px; }
      .page_container .page nav h1 {
        font-weight: 500;
        display: inline-block; }
      .page_container .page nav a {
        position: absolute;
        line-height: 60px;
        top: 10px;
        font-size: 18px;
        color: white;
        font-weight: 100;
        width: 60px;
        height: 60px; }
      .page_container .page nav a:nth-child(1) {
        top: 20px;
        left: -10px; }
      .page_container .page nav a:nth-child(3) {
        top: 20px;
        right: 0px; }
    .page_container .page a.button {
      display: block;
      max-width: 100%;
      background: #359CEC;
      color: white;
      padding: 10px;
      margin-bottom: 10px;
      text-decoration: none;
      margin: 10px 0; }
    .page_container .page video {
      background: black;
      height: 100%;
      width: 100%; }
    .page_container .page textarea.localstorage_test {
      margin: 5px;
      border: 0;
      padding: 5px;
      font-size: 2em;
      resize: vertical;
      border: 1px solid #f6f6f6; }
    .page_container .page article.main {
      height: 100%;
      padding: 10px;
      color: #444;
      overflow-x: hidden;
      overflow-y: scroll; }
    .page_container .page .nav_icon {
      margin-top: 20px; }
  .page_container #STARTSCREEN {
    background: blue; }
    .page_container #STARTSCREEN a {
      text-align: center;
      display: block;
      padding: 10px;
      background: white;
      text-decoration: none;
      color: black; }
  .page_container #NAV {
    padding-top: 61px;
    color: white;
    z-index: 100000;
    position: fixed;
    width: 80%;
    top: 0;
    left: -80%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); }
    .page_container #NAV h2 {
      padding-left: 5px; }
    .page_container #NAV a {
      border-bottom: 1px solid #444;
      color: #FFF;
      padding: 10px;
      display: block;
      background: rgba(0, 0, 0, 0.1);
      text-decoration: none;
      font-weight: 100; }
    .page_container #NAV .RETURN {
      display: none;
      position: absolute;
      right: -30%;
      top: 0;
      bottom: 0;
      width: 30%; }

.img_background {
  position: absolute;
  height: 100%;
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.3; }

/*
 *
 * 
 *
 *
 */
.clear, section#news .news_container:after {
  content: "";
  display: block;
  clear: both; }

.red {
  background: red !important; }

section.main {
  position: relative;
  margin: 0;
  height: 95%;
  overflow: hidden; }

.modal {
  position: absolute;
  z-index: 100000000;
  text-align: center;
  width: 100%;
  top: 0;
  line-height: 70vh;
  color: white;
  font-size: 3em;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); }

/*
 * Framework Core SCSS Partial
 * 
 *
 *
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  /* Disable selection/copy in UIWebView */
  -webkit-touch-callout: none; }

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: sans-serif; }

section.page {
  color: #333; }
  section.page nav {
    color: white; }

.version {
  font-family: monospace;
  position: absolute;
  bottom: 0;
  left: 20px; }

/*
 *
 * 
 *
 *
 */
section#news {
  height: 100%;
  position: relative; }
  section#news header {
    background: orange; }
  section#news .news_container {
    overflow-y: scroll;
    height: 100%; }
    section#news .news_container img {
      width: 100%;
      height: auto; }
  section#news ul.article_list {
    background: white;
    padding: 0;
    margin: 0;
    list-style: none; }
    section#news ul.article_list li a {
      background: white;
      padding: 10px;
      display: block;
      color: inherit;
      text-decoration: none; }
      section#news ul.article_list li a h4 {
        margin: 0;
        font-size: 30px; }
      section#news ul.article_list li a time {
        text-transform: uppercase;
        font-size: 0.8em;
        color: #666;
        margin: 0; }
      section#news ul.article_list li a p {
        margin: 0; }

section#profile {
  position: relative;
  position: relative; }
  section#profile nav {
    background: rgba(0, 0, 0, 0.5); }
  section#profile .player {
    float: left;
    position: relative;
    height: 100%;
    width: 50%;
    padding: 20px; }
    section#profile .player .player_container {
      position: absolute;
      width: 100%;
      height: 100%;
      margin-left: -40%;
      bottom: 0; }
      section#profile .player .player_container img {
        width: 150%;
        height: auto;
        bottom: 0;
        display: block;
        margin-top: 90%; }
  section#profile .info {
    padding-right: 10px;
    z-index: 10000;
    float: right;
    width: 50%;
    color: white;
    text-align: right; }
    section#profile .info ul {
      list-style: none;
      padding: 0;
      margin: 0; }

section#stats {
  background: rgba(0, 0, 0, 0.5); }
  section#stats .stats_list {
    margin: 0;
    padding: 0; }
    section#stats .stats_list h2 {
      color: white; }
    section#stats .stats_list li {
      display: block;
      width: 49%;
      list-style: none;
      background: rgba(255, 255, 255, 0.4);
      padding: 5px;
      float: right;
      margin-bottom: 5px;
      color: white; }
      section#stats .stats_list li h4 {
        font-size: 0.8em;
        margin: 0;
        text-transform: uppercase;
        font-weight: bold; }
      section#stats .stats_list li p.value {
        margin: 0;
        font-size: 2em;
        font-weight: 100; }
    section#stats .stats_list li:nth-child(odd) {
      float: left;
      margin-right: 1px; }

section#about {
  background: white; }
  section#about nav {
    background: #a9c322; }
  section#about .main img {
    width: 50%;
    margin: 0 25%; }
