.page_container {
	overflow-y: hidden;
	
	// Fallback to iOS Default
	background: url(../img/bg/splash.png), #19191f;
	background-position: center top;
	background-repeat: no-repeat;
	
	h1 {margin: 0;}
	
	height: 100%;
	width: 100%;
	
	.page {
		
		overflow-y: hidden;
		height: 100%;
		width: 100%;
		
		
		nav {

			position: relative;

			height: 65px;
			font-weight: 100;
			padding-top: 35px;
			text-align: center;
			padding-bottom: 5px;
			
			h1 {
				
				font-weight: 500;
				display: inline-block;
				
			}
			
			a {
				
				position: absolute;
				line-height: 60px;
				top:10px;
				
				font-size: 18px;
				
				color: white;
				font-weight: 100;
				width: 60px;
				height: 60px;

			}
			
			a:nth-child(1){
				
				top:20px;
				left: -10px;
			
			}
			
			a:nth-child(3){
				
				top:20px;
				right: 0px;
			
			}
			
		}
		
		a.button {
			
			display: block;
			max-width: 100%;
			background: #359CEC;
			color: white;
			padding: 10px;
			margin-bottom: 10px;
			text-decoration: none;
			margin: 10px 0;
			
		}
		
		video {
			background: black;
			height: 100%;
			width: 100%;
			
		}
		
		textarea.localstorage_test {
			margin: 5px;
			border: 0;
			padding: 5px;
			font-size: 2em;
			resize: vertical;
			border: 1px solid #f6f6f6;
			
		}
		
		article.main {
			
			height: 100%;
			padding: 10px;
			color: #444;
			overflow-x: hidden;
			overflow-y: scroll;
			
		}
		
		.nav_icon {
			
			margin-top: 20px;
			
		}
		
	}
	
	#NAV {
		
		padding-top: 61px;
		
		-webkit-box-shadow: inset -2px 0px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: inset -2px 0px 5px 0px rgba(0,0,0,0.75);
		box-shadow: inset -2px 0px 5px 0px rgba(0,0,0,0.75);
		
		background: rgba(0,0,0,0.7);
		border-right: 1px solid black;
		color: white;
		
		z-index: 100000;
		position: fixed;
		
		width: 90%;
		top:0;
		left: -90%;
		bottom: 0;
		
		h2 {
			
			padding-left: 5px;
			
		}
		
		a {
			
			border-bottom: 	1px solid rgba(255,255,255,0.1);
			border-top: 	1px solid rgba(0,0,0,1);
			color: #FFF;
			padding: 10px;
			display: block;
			text-decoration: none;
			font-weight: bold;
			
		}
		
		.RETURN {
			
			display: none;
			position: absolute;
			right: -20%;
			top:0;
			bottom:0;
			width: 30%;

		}
	
	}
	
	
}

@import "utility/helpers";
@import "utility/loader";
@import "framework/core";

@import "pages/news";
@import "pages/profile";
@import "pages/stats";
@import "pages/about";
@import "pages/hybrid";
@import "pages/settings";

@import "media/hdpi";