.page_container {
	
	overflow-y: hidden;
	
	h1 {margin: 0;}
	
	height: 100%;
	width: 100%;
	
	.page {
		
		overflow-y: hidden;
		
		a.button {
			
			display: block;
			max-width: 100%;
			background: #359CEC;
			color: white;
			padding: 10px;
			margin-bottom: 10px;
			text-decoration: none;
			margin: 10px 0;
			
		}
		
		video {
			background: black;
			height: 100%;
			width: 100%;
			
		}
		
		article.main {
			
			height: 100%;
			padding: 10px;
			color: #444;
			overflow-x: hidden;
			overflow-y: scroll;
			
		}
		
		.nav_icon {
			
			margin-top: 20px;
			
		}
		
	}
	
}

@import "utility/helpers";
@import "utility/loader";
@import "core/core";
@import "core/navigation";
@import "core/flyout";

@import "pages/news";
@import "pages/profile";
@import "pages/stats";
@import "pages/about";
@import "pages/hybrid";
@import "pages/settings";

@import "media/hdpi";